### サンプルデータをGitHubリポジトリのURLから直接参照してデータを取得する

In [1]:
import os    #ファイルの編集を行うモジュール

base_url = 'https://raw.githubusercontent.com/practical-jupyter/sample-data/master/anime/'
anime_csv = os.path.join(base_url, 'anime.csv')

print(anime_csv)

https://raw.githubusercontent.com/practical-jupyter/sample-data/master/anime/anime.csv

### pandasをエイリアスpdとしてimportする

In [2]:
import pandas as pd

### サンプルデータの一覧

<img src='images_for_jupyter_file/pandas_sample_data1.jpg'>
<img src='images_for_jupyter_file/pandas_sample_data2.jpg'>

### anime.csvの列名

In [3]:
pd.DataFrame([['anime_id', 'myanimelist.netに登録されている作品のID', 113],
            ['name', '作品の名前', 'Uchuu no Stellvia'],
            ['genre', '作品のジャンル', 'Action, Romance, Sci-Fi, Space'],
            ['type', '作品の配給タイプ', 'TV'],
            ['episodes', '作品のエピソード数(映画は1となる)', '26'],
            ['rating', 'myanimelist.netの会員が採点した作品に対してのレーティング(満点:10点)の平均値', '7.49'],
            ['members', '作品のコミュニティに登録されているメンバ数', 15471]],
            columns = ('列名', '説明', '例'))

,列名,説明,例
0,anime_id,myanimelist.netに登録されている作品のID,113
1,name,作品の名前,Uchuu no Stellvia
2,genre,作品のジャンル,"Action, Romance, Sci-Fi, Space"
3,type,作品の配給タイプ,TV
4,episodes,作品のエピソード数(映画は1となる),26
5,rating,myanimelist.netの会員が採点した作品に対してのレーティング(満点:10点)の平均値,7.49
6,members,作品のコミュニティに登録されているメンバ数,15471

### anime.csvの取得、出力

In [4]:
pd.read_csv(anime_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

### anime_master.csvファイル

anime.csvから型変換を行いデータの欠損値を除外したデータ

### anime_masters.csvファイルの取得、出力

In [5]:
anime_master_csv = os.path.join(base_url, 'anime_master.csv')
pd.read_csv(anime_master_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

### anime_split_genre.csvファイル

anime_master.csvをジャンルごとに分割したデータ  
複数のジャンルが1行のデータに集まっていたものを分割している

In [6]:
anime_split_genre_csv = os.path.join(base_url, 'anime_split_genre.csv')
pd.read_csv(anime_split_genre_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,20707,"""0""",Music,Music,1,5.06,1170
1,25627,"""Aesop"" no Ohanashi yori: Ushi to Kaeru, Yokub...",Kids,Movie,1,5.00,113
2,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Comedy,OVA,1,7.06,14351
3,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",School,OVA,1,7.06,14351
4,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Fantasy,OVA,1,7.06,14351

### anime_genre_top10.csvファイル

anime_split_genre.csvからメンバ数上位10のジャンルを抽出したデータ

In [7]:
anime_genre_top10_csv = os.path.join(base_url, 'anime_genre_top10.csv')
pd.read_csv(anime_genre_top10_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Comedy,OVA,1,7.06,14351
1,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",School,OVA,1,7.06,14351
2,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Fantasy,OVA,1,7.06,14351
3,8481,"""Bungaku Shoujo"" Memoire",School,OVA,3,7.54,18013
4,8481,"""Bungaku Shoujo"" Memoire",Drama,OVA,3,7.54,18013

### anime_genre_top10_pivoted.csvファイル

anime_genre_top10.csvのジャンルを縦軸、配給タイプを横軸とし、メンバ数の合計でクロス集計したデータ

In [8]:
anime_genre_top10_pivoted_csv = os.path.join(base_url, 'anime_genre_top10_pivoted.csv')
pd.read_csv(anime_genre_top10_pivoted_csv).head()

,genre,Movie,Music,ONA,OVA,Special,TV
0,Comedy,7293127.0,20860.0,1477266.0,5614758.0,6659293.0,65420862.0
1,Action,10224960.0,77054.0,524907.0,5793680.0,3412689.0,63364032.0
2,Drama,9034099.0,100734.0,188427.0,3043374.0,1915578.0,41011557.0
3,Romance,5245386.0,42811.0,411331.0,3143167.0,2015820.0,40703388.0
4,Supernatural,5452779.0,9189.0,192989.0,2696715.0,2336723.0,38956520.0

### anime_stock_price.csvファイル

「東映アニメーション株式会社」と「株式会社IGポート」の株価データ(終値)

In [9]:
anime_stock_price_csv = os.path.join(base_url, 'anime_stock_price.csv')
#read_csvで引数index_colに列番号を入れると、その列がindexになる
#parse_dates:datetime型で読み込むcolumn名
pd.read_csv(anime_stock_price_csv, index_col=0, parse_dates=['Date']).head()

            TOEI ANIMATION  IG Port
Date
2015-01-01         3356.86  1201.51
2015-01-02         3356.86  1201.51
2015-01-05         3396.12  1218.44
2015-01-06         3361.77  1201.51
2015-01-07         3297.97  1202.51

### anime_stock_returns_csvファイル

anime_stock_price_csvを累積リターンに変換したデータ  
最初のデータを1とした騰落率(ある一定期間の変化率)を算出

In [10]:
anime_stock_returns_csv = os.path.join(base_url, 'anime_stock_returns.csv')
pd.read_csv(anime_stock_returns_csv, index_col=0, parse_dates=['Date']).head()

            TOEI ANIMATION   IG Port
Date
2015-01-01        1.000000  1.000000
2015-01-02        1.000000  1.000000
2015-01-05        1.011695  1.014082
2015-01-06        1.001463  1.000000
2015-01-07        0.982457  1.000824

### 4816.csv, 3791.csv, n225.csv
#### 各銘柄の株価の4本値(ある一定期間の始値、終値、高値、安値)と出来高のデータ


4816.csv:東映アニメーション株式会社  
3791.csv:株式会社IGポート  
n225.csv:日経平均株価

In [11]:
t4816_csv = os.path.join(base_url, '4816.csv')
pd.read_csv(t4816_csv, index_col=0, parse_dates=['Date']).head()

              Open    High     Low   Close   Volume
Date
2010-01-04  1600.0  1600.0  1580.0  1597.0   5600.0
2010-01-05  1597.0  1605.0  1590.0  1600.0  14800.0
2010-01-06  1600.0  1602.0  1579.0  1601.0   8300.0
2010-01-07  1600.0  1600.0  1590.0  1595.0   3700.0
2010-01-08  1599.0  1601.0  1595.0  1600.0  32300.0

## Series

Seriesはインデックスと呼ばれるラベルを持った同一のデータ型を持つ1次元のデータ
- インデックスは重複できる
- ラベルまたはデータの位置を指定した抽出が出来る
- インデックスに対してのスライスが出来る
- 算術演算が出来る、統計量を算出するメソッドを持っている

### Seriesの作成

In [12]:
import pandas as pd

ser = pd.Series([1, 2, 3], index = ['a', 'b', 'c'])    #indexで行の名前を指定できる
ser

a    1
b    2
c    3
dtype: int64

### ラベルを使ってデータを選択する

In [13]:
ser.loc['b']

2

#### ラベルの範囲を指定してスライス

In [14]:
#ラベルによるスライスはラベルの開始位置と終了位置を含む
#リストやタプルのスライスとは挙動が異なる
ser.loc['b':'c']

b    2
c    3
dtype: int64

#### 位置を指定してデータを選択する

In [15]:
ser.iloc[1]    #int locationの略?

2

In [16]:
#数値によるスライスは従来のスライスと同じ挙動になる
ser.iloc[1:3]

b    2
c    3
dtype: int64

### 真偽値を用いたデータ選択

In [17]:
#真偽値のリストはSeriesのインデックスの位置に対応
ser.loc[[True, False, True]]

a    1
c    3
dtype: int64

In [18]:
ser != 2

a     True
b    False
c     True
dtype: bool

In [19]:
ser.loc[ser != 2]

a    1
c    3
dtype: int64

## DataFrame

DataFrameは行と列にラベルを持った2次元のデータ
- 列ごとに異なる型を持つことが出来る
- テーブル型のデータに対して読み込み、書き込みが出来る
- DataFrame動詞に対して様々な条件を用いた結合処理が出来る
- クロス集計が出来る

### DataFrameの作成

In [20]:
import pandas as pd

df = pd.DataFrame(
    [[1, 10, 100], [2, 20, 200], [3, 30, 300]],
    index=['r1', 'r2', 'r3'],
    columns=['c1', 'c2', 'c3'])
df

    c1  c2   c3
r1   1  10  100
r2   2  20  200
r3   3  30  300

### ラベルを使ったデータ選択

In [21]:
df.loc['r2', 'c2']

20

#### 全ての行(列)を指定する場合

In [22]:
df.loc['r2', :]

c1      2
c2     20
c3    200
Name: r2, dtype: int64

In [23]:
df.loc[:, 'c2']

r1    10
r2    20
r3    30
Name: c2, dtype: int64

### スライスやリストの渡し方

In [24]:
#行ラベルをリストで指定、列ラベルをスライスで指定
df.loc[['r1', 'r3'], 'c2':'c3']

    c2   c3
r1  10  100
r3  30  300

### ilocを使ったデータ選択

In [25]:
df.iloc[1:3, [0, 2]]

    c1   c3
r2   2  200
r3   3  300

### 列名を指定したデータ選択

In [26]:
#行か列のデータ数が1のとき、返ってくるデータ型はSeries
df['c2']

r1    10
r2    20
r3    30
Name: c2, dtype: int64

### 真偽値を使ったデータ選択

In [27]:
df > 10

       c1     c2    c3
r1  False  False  True
r2  False   True  True
r3  False   True  True

In [28]:
df.loc[df['c2'] > 10]

    c1  c2   c3
r2   2  20  200
r3   3  30  300

#### 複数条件を組み合わせたデータ抽出

In [29]:
#c1列が1より大きくかつ、c3列が300より小さいデータ
df.loc[(df['c1'] > 1) & (df['c3'] < 300)]

    c1  c2   c3
r2   2  20  200

### 3-5様々なデータの読み込み

#### csvファイルの読み込み

In [30]:
import os
import pandas as pd

base_url = 'https://raw.githubusercontent.com/practical-jupyter/sample-data/master/anime/'
anime_csv = os.path.join(base_url, 'anime.csv')

df = pd.read_csv(anime_csv)    #pd.read_csvがcsvデータを読み込む関数
df.head()                      #DataFrame.head()で先頭から5行のデータを出力('()'を忘れないように注意)

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

#### 指定した列をDataFrameのインデックスにする

In [31]:
#インデックスにする列を番号で指定
df = pd.read_csv(anime_csv, index_col=0)             #引数incex_colでインデックス列を指定

#インデックスにする列を列名で指定
df = pd.read_csv(anime_csv, index_col='anime_id')    #index_colは列名でも指定可能
df.head()

,name,genre,type,episodes,rating,members
anime_id,,,,,,
32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

#### 指定した列を指定した方で読み込む

In [32]:
df = pd.read_csv(anime_csv, index_col=0, dtype={'members' : float})    #キーワード引数dtypeに列名(キー)と型(値)を辞書型で指定
df.head()

,name,genre,type,episodes,rating,members
anime_id,,,,,,
32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630.0
5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665.0
28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262.0
9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572.0
9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266.0

#### datetime型の列が含まれている場合の型変換

In [33]:
anime_stock_price_csv = os.path.join(base_url, 'anime_stock_price.csv')
df = pd.read_csv(anime_stock_price_csv, parse_dates=['Date'])    #キーワード引数parse_datesに列名を「リスト」で指定することで読み込み時に変換
df.dtypes    #DataFrame.dtypesで各列の型を確認できる('s'や()に注意)
#df.head()

Date              datetime64[ns]
TOEI ANIMATION           float64
IG Port                  float64
dtype: object

#### 区切り文字の変更

In [34]:
anime_tsv = os.path.join(base_url, 'anime.tsv')
df = pd.read_csv(anime_tsv, sep='\t')    #キーワード引数sepに文字列を指定する pandas.read_csvはtsvも読み込める

### Excelファイルを読み込む

In [35]:
anime_xlsx = os.path.join(base_url, 'anime.xlsx')
df = pd.read_excel(anime_xlsx)    #pandas.read_excel()でExcelファイルを読み込むことが出来る
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534
2,28851,Koe no Katachi,"Drama, School, Shounen",Movie,1,9.05,102733
3,199,Sen to Chihiro no Kamikakushi,"Adventure, Drama, Supernatural",Movie,1,8.93,466254
4,12355,Ookami Kodomo no Ame to Yuki,"Fantasy, Slice of Life",Movie,1,8.84,226193

#### 読み込むシートを指定する

In [36]:
df = pd.read_excel(anime_xlsx, sheetname='Movie')    #キーワード引数sheetnameでシート名を指定して読み込む

#### SQLを使用して読み込む

In [37]:
from urllib.request import urlopen                       #urllib.requestはWeb上のデータにアクセスするためのモジュール
import sqlite3                                           #バイナリファイルは数値のみで記録されているファイルで、サイズ・速度が要求される場合に用いられる
                                                         #(続き)機種依存があるので、互換性に課題
anime_db = os.path.join(base_url, 'anime.db')
res = urlopen(anime_db)                                  #urllib.request.urlopen()でWeb上のデータをpythonのメモリ上で取得(参考:https://qiita.com/ononoy/items/4e244d83dec0a4757929)
with open('anime.db', 'wb') as f:                        #with構文はファイル操作を簡単に行うための処理で、クローズ処理の記述が不要(参考:https://www.sejuku.net/blog/24672)
    f.write(res.read())                                  #wb(書き込み、バイナリモード)でデータベースファイルを開く(オブジェクトはfに代入)
    with sqlite3.connect(f.name) as conn:                #sqlite3モジュールを用いて、データベースを表すconnectionオブジェクトを生成(オブジェクトはconnに代入)
        df = pd.read_sql('SELECT * FROM anime', conn)    #pandas.read_sqlで、conn(db)をpandasのDataFrame型で読み込める

In [38]:
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

#### HTMLファイルを読み込む

### conda installコマンドを用いたパッケージのインストール
conda install -y html5lib==0.9999999    
#コマンドプロンプト上でANACONDA PACKAGE LISTのpythonパッケージ(サードパーティー製パッケージ)をインストールできる
#参考(https://www.python.jp/install/anaconda/conda.html)

In [39]:
url = 'https://docs.python.org/3/py-modindex.html'

tables = pd.read_html(url, index_col=1)    #pandas.read_html()でHTMLファイルのtable要素をDataFrameとして読み込み、DataFrameのリストを返す
                                           #html5libのインストールをしておくこと
tables[0].loc[:, 1:].dropna().head(10)     #1番目のDataFrameから空の列と欠損値を除外
                                           #pandas.read_html()の参考(http://shirabeta.net/How-To-Use-pandas.read_html.html#.W9gbCpP7Q2w)
                                           #pandasをスクレイピングツールとして活用できる

                                                               2
1
__future__                          Future statement definitions
__main__       The environment where the top-level script is ...
_dummy_thread        Drop-in replacement for the _thread module.
_thread                                 Low-level threading API.
abc                 Abstract base classes according to PEP 3119.
aifc           Read and write audio files in AIFF or AIFC for...
argparse       Command-line option and argument parsing library.
array          Space efficient arrays of uniformly typed nume...
ast               Abstract Syntax Tree classes and manipulation.
asynchat       Support for asynchronous command/response prot...

## 3-6 データ処理(データ抽出や欠損値の扱いなど)

### 真偽値を用いたデータ抽出

In [40]:
import os
import pandas as pd

base_url = 'https://raw.githubusercontent.com/practical-jupyter/sample-data/master/anime/'
anime_csv = os.path.join(base_url,'anime.csv')
df = pd.read_csv(anime_csv)

df.loc[df['episodes'] == 'Unknown'] .head()    #DataFrameの'episodes'列の値が'Unknown'のデータ行を抽出

,anime_id,name,genre,type,episodes,rating,members
73,21,One Piece,"Action, Adventure, Comedy, Drama, Fantasy, Sho...",TV,Unknown,8.58,504862
248,235,Detective Conan,"Adventure, Comedy, Mystery, Police, Shounen",TV,Unknown,8.25,114702
607,1735,Naruto: Shippuuden,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,Unknown,7.94,533578
993,33157,Tanaka-kun wa Itsumo Kedaruge Specials,"Comedy, School, Slice of Life",Special,Unknown,7.72,5400
1226,21639,Yu☆Gi☆Oh! Arc-V,"Action, Fantasy, Game, Shounen",TV,Unknown,7.61,17571

### whereメソッドを用いたデータを抽出

In [41]:
df.where(df['rating'] < 9.2).head()    #DataFrame.loc[~]はマッチしないデータを除外するが、whereメソッドはマッチしないデータをNaNで埋めて返す

,anime_id,name,genre,type,episodes,rating,members
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9253.0,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572.0
4,9969.0,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266.0

### 値の変更

In [42]:
import numpy as np

df.loc[74, 'episodes'] = np.nan    #np.nanで要素の値がnanになる
df.loc[74, 'episodes']

nan

In [43]:
df.loc[df['episodes'] == 'Unknown', 'episodes'] = np.nan    #'episodes'列が'Unknown'のデータ行に対し、'episodes'列にnanを代入する

### 欠損値の除外

In [ ]:
df.loc[df['episodes'].isnull()].head()    #isnull()メソッドは欠損値(NaN)がある場合にTrueを返す

In [110]:
len(df) - df.count()                      #DataFrame.count()メソッドは欠損値ではない値要素の個数をカウント。コードは欠損値の数を算出
df.isnull().sum()                         #↑のコードと同じ結果になる

anime_id      0
name          0
genre        62
type         23
episodes    291
rating      211
members       0
dtype: int64

### 欠損値が含まれるデータの除外

In [45]:
df.dropna().loc[70:].head()    #DataFrame.dropna()で欠損値(NaN)が含まれるデータを除外する
                               #DataFrame.dropna()は非破壊的な操作で、元オブジェクトを書き換えずに新しいオブジェクトを作成する
                               #破壊的操作を行う場合は、DataFrame.dropna(inplace = True)を指定する

,anime_id,name,genre,type,episodes,rating,members
70,578,Hotaru no Haka,"Drama, Historical",Movie,1,8.58,174878
71,16894,Kuroko no Basket 2nd Season,"Comedy, School, Shounen, Sports",TV,25,8.58,243325
72,5028,Major S5,"Comedy, Drama, Romance, Sports",TV,25,8.58,28653
75,31933,JoJo no Kimyou na Bouken: Diamond wa Kudakenai,"Action, Adventure, Comedy, Drama, Shounen, Sup...",TV,39,8.57,74074
76,5205,Kara no Kyoukai 7: Satsujin Kousatsu (Kou),"Action, Mystery, Romance, Supernatural, Thriller",Movie,1,8.57,95658

### データの型
#### SeriesやDataFrameで作成したオブジェクトは数値データはNumPy、文字列などのデータはobject型として自動的に設定される

In [46]:
df['anime_id'].dtype    #Series.dtypeでデータ型の確認

dtype('int64')

In [47]:
df.dtypes    #DataFrame.dtypesでデータ型をまとめて確認('s'に注意)

anime_id      int64
name         object
genre        object
type         object
episodes     object
rating      float64
members       int64
dtype: object

### データの型変換

In [48]:
#pd.options.display.max_rows = 10    #pandasで表示する行数を設定(出力しすぎるとみにくいため)
#df['episodes'].astype(np.int64)     #astype()メソッドでデータの型を指定する(例外レコードがあるとエラーが起こる)、astype()は非破壊的な操作

In [49]:
#df['episodes'].convert_objects(convert_numeric = True).fillna(-1).astype(np.int64).head()    #convert_objects()は廃止予定のため非推奨

## 【重要】データの型変換における注意事項

#### astype()メソッドは例外レコードがある場合は変換が出来ない
#### また、convert_objects(convert_データ型 = T of F)は廃止予定のメソッドのため、使わないこと

### pandas.to_(データ型)メソッドを用いたデータ変換

In [50]:
df['episodes'].apply(pd.to_numeric, errors='coerce').fillna(-1).astype(np.int64).head()    #pandas.apply(関数, 例外処理)、
#例外処理には例外データがあることを表示し、エラーを返す'raise'、例外部分をNaNで返し、残りを通常変換する'coerce'、(下に続く)
#例外部分は変換せずそのまま返す'ignore'の3種類ある(参考:https://qiita.com/anomalocation/items/b87b3f98f9913a6b119e)

0     1
1    64
2    51
3    24
4    51
Name: episodes, dtype: int64

In [51]:
df['episodes'].fillna(-1).astype(np.int64).head()    #例外部分がNaNだけの場合fillna()からでもいけるみたい

0     1
1    64
2    51
3    24
4    51
Name: episodes, dtype: int64

### 複数列の型をまとめて変換

In [52]:
#df.astype({'episodes': np.int64, 'rating': np.float64})    #辞書指定{'キー': 値}で型変換
#↑データにNaNがあり、エラーになるためコメントアウト

## ソート

In [53]:
df.sort_values('rating', ascending=False).head()    #DataFrame.sort_values('列', ascending= T or F, inplace=T or F)でソートする

,anime_id,name,genre,type,episodes,rating,members
9846,33662,Taka no Tsume 8: Yoshida-kun no X-Files,"Comedy, Parody",Movie,1,10.00,13
9785,30120,Spoon-hime no Swing Kitchen,"Adventure, Kids",TV,NaN,9.60,47
8985,23005,Mogura no Motoro,Slice of Life,Movie,1,9.50,62
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
8474,33607,Kahei no Umi,Historical,Movie,1,9.33,44

### 関数の適用
map          :Series(値ごと)        →Series  
apply        :DataFrame(列または行ごと)→Series  
applymap:DataFrame(値ごと)→DataFrame

In [54]:
import html


print(df['name'].head())
print(df['name'].map(html.unescape).head())    #html.unescape()でHTML特殊文字を変換(&#039→')

0                      Kimi no Na wa.
1    Fullmetal Alchemist: Brotherhood
2                            Gintama°
3                         Steins;Gate
4                       Gintama&#039;
Name: name, dtype: object
0                      Kimi no Na wa.
1    Fullmetal Alchemist: Brotherhood
2                            Gintama°
3                         Steins;Gate
4                            Gintama'
Name: name, dtype: object

In [55]:
df.apply(len)    #組み込み関数len()をDataFrameの各列に対して適用

anime_id    10486
name        10486
genre       10486
type        10486
episodes    10486
rating      10486
members     10486
dtype: int64

In [56]:
df.apply(len, axis=1).head()    #axis=1でDataFrameの行に対して関数を適用

0    7
1    7
2    7
3    7
4    7
dtype: int64

In [57]:
df.apply(lambda x: len(x['name']) + len(x['genre']), axis=1).head()    #ラベルを指定することで各行の各要素('name', 'genre')に対して関数を適用

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [111]:
df[['name', 'genre']].dropna().applymap(len).head()    #DataFrame.applymap(関数)で各要素に対して関数を適用    
                                                       #欠損値がある状態でlen()を使うとエラーになるため欠損値を省いた('genre'列に欠損値あり)

   name  genre
0    14     36
1    32     59
2     8     60
3    11     16
4    13     60

In [116]:
#df.apply(lambda x: isinstance(x['name'], float), axis=1).head()    #isinstanceは欠損値をTrue判定してしまう？
#df[df.apply(lambda x: isinstance(x['genre'], float), axis=1)].count()

## 3-7 統計量の算出

In [1]:
import os
import pandas as pd

base_url = 'https://raw.githubusercontent.com/practical-jupyter/sample-data/master/anime/'
anime_master_csv = os.path.join(base_url, 'anime_master.csv')
df = pd.read_csv(anime_master_csv)

df.mean()    #Dataframe.mean()で列ごとの平均値を算出(Seriesでも同様)

anime_id    14055.982035
episodes       13.939156
rating          6.507956
members     18924.950769
dtype: float64

In [2]:
df['members'].sum()    #Seriesでも同様に統計量の算出が可能

190668879

In [3]:
#マークダウンの表を左寄せにする
%%html
<style>
    table{float: left}
</style>

### 統計的なメソッド一覧


メソッド|説明
---|---
count|欠損値を除外したデータ数
sum|合計値
mean|平均値
median|中央値
min|最小値
max|最大値
std|標準偏差
var|分散
skew|歪度(3次モーメント)
kurt|尖度(4次モーメント)
quantile|分位数(パーセンタイル値)
cov|共分散
corr|相関

### 基本統計量の算出

In [4]:
df.describe().round(1)    #df.describe()メソッドで基本統計量を算出、df.round(小数点の桁数)で小数点の四捨五入を行う

       anime_id  episodes   rating    members
count   10075.0   10075.0  10075.0    10075.0
mean    14056.0      13.9      6.5    18925.0
std     11294.9      50.8      1.1    57117.5
min         1.0       1.0      1.7       12.0
25%      3431.0       1.0      5.9      177.0
50%     10526.0       1.0      6.6     1227.0
75%     24438.0      13.0      7.3    10254.0
max     34519.0    1818.0     10.0  1013917.0

In [5]:
df.describe(percentiles=[0.1, 0.9]).round(1)    #キーワード引数percentilesにリストで値を指定することでパーセンタイル値を変更

       anime_id  episodes   rating    members
count   10075.0   10075.0  10075.0    10075.0
mean    14056.0      13.9      6.5    18925.0
std     11294.9      50.8      1.1    57117.5
min         1.0       1.0      1.7       12.0
10%      1259.4       1.0      5.1       74.0
50%     10526.0       1.0      6.6     1227.0
90%     31190.0      37.0      7.8    47587.6
max     34519.0    1818.0     10.0  1013917.0

In [6]:
df[['genre', 'type']].describe()    
#非数値に対しては「欠損値ではないデータ数」、「重複してないデータ数」、「データ数が多い値」、「topのデータ数」を算出

         genre   type
count    10075  10075
unique    2735      6
top     Comedy     TV
freq       500   3330