### サンプルデータをGitHubリポジトリのURLから直接参照してデータを取得する

In [9]:
import os

base_url = 'https://raw.githubusercontent.com/practical-jupyter/sample-data/master/anime/'
anime_csv = os.path.join(base_url, 'anime.csv')

print(anime_csv)

https://raw.githubusercontent.com/practical-jupyter/sample-data/master/anime/anime.csv

### pandasをエイリアスpdとしてimportする

In [2]:
import pandas as pd

### サンプルデータの一覧

<img src='../images_for_jupyter_file/pandas_sample_data1.jpg'>
<img src='../images_for_jupyter_file/pandas_sample_data2.jpg'>

### anime.csvの列名

In [5]:
pd.DataFrame([['anime_id', 'myanimelist.netに登録されている作品のID', 113],
            ['name', '作品の名前', 'Uchuu no Stellvia'],
            ['genre', '作品のジャンル', 'Action, Romance, Sci-Fi, Space'],
            ['type', '作品の配給タイプ', 'TV'],
            ['episodes', '作品のエピソード数(映画は1となる)', '26'],
            ['rating', 'myanimelist.netの会員が採点した作品に対してのレーティング(満点:10点)の平均値', '7.49'],
            ['members', '作品のコミュニティに登録されているメンバ数', 15471]],
            columns = ('列名', '説明', '例'))

,列名,説明,例
0,anime_id,myanimelist.netに登録されている作品のID,113
1,name,作品の名前,Uchuu no Stellvia
2,genre,作品のジャンル,"Action, Romance, Sci-Fi, Space"
3,type,作品の配給タイプ,TV
4,episodes,作品のエピソード数(映画は1となる),26
5,rating,myanimelist.netの会員が採点した作品に対してのレーティング(満点:10点)の平均値,7.49
6,members,作品のコミュニティに登録されているメンバ数,15471

### anime.csvの取得、出力

In [10]:
pd.read_csv(anime_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

### anime_master.csvファイル

anime.csvから型変換を行いデータの欠損値を除外したデータ

### anime_masters.csvファイルの取得、出力

In [11]:
anime_master_csv = os.path.join(base_url, 'anime_master.csv')
pd.read_csv(anime_master_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

### anime_split_genre.csvファイル

anime_master.csvをジャンルごとに分割したデータ  
複数のジャンルが1行のデータに集まっていたものを分割している

In [12]:
anime_split_genre_csv = os.path.join(base_url, 'anime_split_genre.csv')
pd.read_csv(anime_split_genre_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,20707,"""0""",Music,Music,1,5.06,1170
1,25627,"""Aesop"" no Ohanashi yori: Ushi to Kaeru, Yokub...",Kids,Movie,1,5.00,113
2,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Comedy,OVA,1,7.06,14351
3,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",School,OVA,1,7.06,14351
4,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Fantasy,OVA,1,7.06,14351

### anime_genre_top10.csvファイル

anime_split_genre.csvからメンバ数上位10のジャンルを抽出したデータ

In [13]:
anime_genre_top10_csv = os.path.join(base_url, 'anime_genre_top10.csv')
pd.read_csv(anime_genre_top10_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Comedy,OVA,1,7.06,14351
1,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",School,OVA,1,7.06,14351
2,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Fantasy,OVA,1,7.06,14351
3,8481,"""Bungaku Shoujo"" Memoire",School,OVA,3,7.54,18013
4,8481,"""Bungaku Shoujo"" Memoire",Drama,OVA,3,7.54,18013

### anime_genre_top10_pivoted.csvファイル

anime_genre_top10.csvのジャンルを縦軸、配給タイプを横軸とし、メンバ数の合計でクロス集計したデータ

In [14]:
anime_genre_top10_pivoted_csv = os.path.join(base_url, 'anime_genre_top10_pivoted.csv')
pd.read_csv(anime_genre_top10_pivoted_csv).head()

,genre,Movie,Music,ONA,OVA,Special,TV
0,Comedy,7293127.0,20860.0,1477266.0,5614758.0,6659293.0,65420862.0
1,Action,10224960.0,77054.0,524907.0,5793680.0,3412689.0,63364032.0
2,Drama,9034099.0,100734.0,188427.0,3043374.0,1915578.0,41011557.0
3,Romance,5245386.0,42811.0,411331.0,3143167.0,2015820.0,40703388.0
4,Supernatural,5452779.0,9189.0,192989.0,2696715.0,2336723.0,38956520.0

### anime_stock_price.csvファイル

「東映アニメーション株式会社」と「株式会社IGポート」の株価データ(終値)

In [21]:
anime_stock_price_csv = os.path.join(base_url, 'anime_stock_price.csv')
#read_csvで引数index_colに列番号を入れると、その列がindexになる
#parse_dates:datetime型で読み込むcolumn名
pd.read_csv(anime_stock_price_csv, index_col=0, parse_dates=['Date']).head()

            TOEI ANIMATION  IG Port
Date
2015-01-01         3356.86  1201.51
2015-01-02         3356.86  1201.51
2015-01-05         3396.12  1218.44
2015-01-06         3361.77  1201.51
2015-01-07         3297.97  1202.51

### anime_stock_returns_csvファイル

anime_stock_price_csvを累積リターンに変換したデータ  
最初のデータを1とした騰落率(ある一定期間の変化率)を算出

In [19]:
anime_stock_returns_csv = os.path.join(base_url, 'anime_stock_returns.csv')
pd.read_csv(anime_stock_returns_csv, index_col=0, parse_dates=['Date']).head()

            TOEI ANIMATION   IG Port
Date
2015-01-01        1.000000  1.000000
2015-01-02        1.000000  1.000000
2015-01-05        1.011695  1.014082
2015-01-06        1.001463  1.000000
2015-01-07        0.982457  1.000824

### 4816.csv, 3791.csv, n225.csv
#### 各銘柄の株価の4本値(ある一定期間の始値、終値、高値、安値)と出来高のデータ


4816.csv:東映アニメーション株式会社  
3791.csv:株式会社IGポート  
n225.csv:日経平均株価

In [18]:
t4816_csv = os.path.join(base_url, '4816.csv')
pd.read_csv(t4816_csv, index_col=0, parse_dates=['Date']).head()

              Open    High     Low   Close   Volume
Date
2010-01-04  1600.0  1600.0  1580.0  1597.0   5600.0
2010-01-05  1597.0  1605.0  1590.0  1600.0  14800.0
2010-01-06  1600.0  1602.0  1579.0  1601.0   8300.0
2010-01-07  1600.0  1600.0  1590.0  1595.0   3700.0
2010-01-08  1599.0  1601.0  1595.0  1600.0  32300.0

## Series

Seriesはインデックスと呼ばれるラベルを持った同一のデータ型を持つ1次元のデータ
- インデックスは重複できる
- ラベルまたはデータの位置を指定した抽出が出来る
- インデックスに対してのスライスが出来る
- 算術演算が出来る、統計量を算出するメソッドを持っている

### Seriesの作成

In [1]:
import pandas as pd

ser = pd.Series([1, 2, 3], index = ['a', 'b', 'c'])
ser

a    1
b    2
c    3
dtype: int64

### ラベルを使ってデータを選択する

In [2]:
ser.loc['b']

2

#### ラベルの範囲を指定してスライス

In [3]:
#ラベルによるスライスはラベルの開始位置と終了位置を含む
#リストやタプルのスライスとは挙動が異なる
ser.loc['b':'c']

b    2
c    3
dtype: int64

#### 位置を指定してデータを選択する

In [4]:
ser.iloc[1]

2

In [5]:
#数値によるスライスは従来のスライスと同じ挙動になる
ser.iloc[1:3]

b    2
c    3
dtype: int64

### 真偽値を用いたデータ選択

In [6]:
#真偽値のリストはSeriesのインデックスの位置に対応
ser.loc[[True, False, True]]

a    1
c    3
dtype: int64

In [7]:
ser != 2

a     True
b    False
c     True
dtype: bool

In [8]:
ser.loc[ser != 2]

a    1
c    3
dtype: int64

## DataFrame

DataFrameは行と列にラベルを持った2次元のデータ
- 列ごとに異なる型を持つことが出来る
- テーブル型のデータに対して読み込み、書き込みが出来る
- DataFrame動詞に対して様々な条件を用いた結合処理が出来る
- クロス集計が出来る

### DataFrameの作成

In [11]:
import pandas as pd

df = pd.DataFrame(
    [[1, 10, 100], [2, 20, 200], [3, 30, 300]],
    index=['r1', 'r2', 'r3'],
    columns=['c1', 'c2', 'c3'])
df

    c1  c2   c3
r1   1  10  100
r2   2  20  200
r3   3  30  300

### ラベルを使ったデータ選択

In [12]:
df.loc['r2', 'c2']

20

#### 全ての行(列)を指定する場合

In [13]:
df.loc['r2', :]

c1      2
c2     20
c3    200
Name: r2, dtype: int64

In [14]:
df.loc[:, 'c2']

r1    10
r2    20
r3    30
Name: c2, dtype: int64

### スライスやリストの渡し方

In [15]:
#行ラベルをリストで指定、列ラベルをスライスで指定
df.loc[['r1', 'r3'], 'c2':'c3']

    c2   c3
r1  10  100
r3  30  300

### ilocを使ったデータ選択

In [16]:
df.iloc[1:3, [0, 2]]

    c1   c3
r2   2  200
r3   3  300

### 列名を指定したデータ選択

In [17]:
#行か列のデータ数が1のとき、返ってくるデータ型はSeries
df['c2']

r1    10
r2    20
r3    30
Name: c2, dtype: int64

### 真偽値を使ったデータ選択

In [18]:
df > 10

       c1     c2    c3
r1  False  False  True
r2  False   True  True
r3  False   True  True

In [19]:
df.loc[df['c2'] > 10]

    c1  c2   c3
r2   2  20  200
r3   3  30  300

#### 複数条件を組み合わせたデータ抽出

In [20]:
#c1列が1より大きくかつ、c3列が300より小さいデータ
df.loc[(df['c1'] > 1) & (df['c3'] < 300)]

    c1  c2   c3
r2   2  20  200